.frosty {
    color: #111;
    background: #ccc;
    display: inline-block;
    padding: 25px;
    margin: 25px;
    list-style-type: none;
}

.frosty li {
    margin-top: 5px;
    border-bottom: 1px solid #444;
}